<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMCS_PRJ.MioFramesSettingsInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TMCS_PRJ.MioFramesInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMCS_PRJ.MioFramesSettingsInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TMCS_PRJ.MioFramesInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TMCS_PRJ.MioFramesSettingsInfo>
            <setting name="channelType" serializeAs="String">
                <value />
            </setting>
        </TMCS_PRJ.MioFramesSettingsInfo>
        <TMCS_PRJ.MioFramesInfo>
            <setting name="channelType" serializeAs="String">
                <value />
            </setting>
        </TMCS_PRJ.MioFramesInfo>
    </applicationSettings>
    <userSettings>
        <TMCS_PRJ.MioFramesSettingsInfo>
            <setting name="inputPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TMCS_PRJ.MioFramesSettingsInfo>
        <TMCS_PRJ.MioFramesInfo>
            <setting name="inputPort" serializeAs="String">
                <value />
            </setting>
            <setting name="outputPort" serializeAs="String">
                <value />
            </setting>
            <setting name="size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TMCS_PRJ.MioFramesInfo>
    </userSettings>
</configuration>